[submodule "a24/A24StudioCS"]
    path = a24/A24StudioCS
    url = git://github.com:A24Group/A24StudioCS.git

[submodule "phpcompat/PHPCompatibility"]
    path = phpcompat/PHPCompatibility
    url = git://github.com:wimg/PHPCompatibility.git

[submodule "phpcs-security-audit"]
    path = phpcs-security-audit
    url = git://github.com:Pheromone/phpcs-security-audit.git

[submodule "thinkup-codesniffer"]
	path = thinkup-codesniffer
	url = https://github.com/sarcas/ThinkUp-CodeSniffer.git
